Repository SnO2WMaN/bookshelf-nest-api: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, prettier-configs

eslint:
  tags: frontend lint
  run: eslint {staged_files}

prettier:
  tags: frontend lint
  run: prettier --check {staged_files}

prettier-configs:
  tags: frontend lint
  run: prettier --check {staged_files}

feat: :sparkles: 版の情報を整理して返す
  package.json
  src/version/schema/version.schema.ts
  src/version/version.module.ts
  src/version/version.resolver.spec.ts
  src/version/version.resolver.ts
  yarn.lock
Due: eslint, prettier

test: :sparkles: coverの取得テスト
  src/books/books.resolver.spec.ts
  src/books/books.resolver.ts
  src/openbd/openbd.service.mock.ts
Due: eslint

feat: :sparkles: 表装のURLがある場合はそれを返す
  src/books/books.resolver.spec.ts
  src/books/books.resolver.ts
  src/books/schema/book.schema.ts
Due: eslint

feat: :sparkles: スキーマの型をより詳細に指定
  package.json
  src/books/books.resolver.ts
  src/books/sample/books.sample.ts
  src/version/schema/version.schema.ts
  src/version/version.module.ts
  src/version/version.resolver.spec.ts
  src/version/version.resolver.ts
  yarn.lock
Due: eslint, prettier

refactor: :fire: E2Eテスト関連のファイル削除
  package.json
  test/app.e2e-spec.ts
  test/jest-e2e.json
Due: eslint, prettier

refactor: :recycle: 両替部分を改修
  src/app.module.ts
  src/exchange-rates-api/exchange-rates-api.module.ts
  src/exchange-rates-api/exchange-rates-api.service.mock.ts
  src/exchange-rates-api/exchange-rates-api.service.spec.ts
  src/exchange-rates-api/exchange-rates-api.service.ts
  src/exchange-rates-api/exchange-rates-api.types.ts
  src/price/price.module.ts
  src/price/price.resolver.spec.ts
  src/price/price.resolver.ts
  src/price/price.service.spec.ts
  src/price/price.service.ts
Due: eslint

chore: :gear: ESLintの設定ファイル更新
  .eslintrc
Due: prettier-configs

docs: :book: README追加
  README.md
Due: prettier

refactor: :recycle: 両替機能の部分のファイル名を変更
  src/exchange-rates-api/exchange-rates-api.service.ts
  src/exchange-rates-api/schema/exchange-rates-api.schema.ts
  src/price/price.resolver.ts
Due: eslint

feat: :sparkles: MongoDBに接続
  package.json
  src/app.module.ts
  src/config/.eslintrc
  src/config/mongoose.config.ts
  yarn.lock
Due: eslint, prettier, prettier-configs

fix: :bug: versionsがnullの場合でcoverを取得するとエラーが発生する問題を修正
  src/books/books.resolver.ts
Due: eslint

feat: :sparkles: 本を登録してDBに保存する
  src/book-price/schema/book-price.schema.ts
  src/books/argstype/register-book.argstype.ts
  src/books/books.module.ts
  src/books/books.resolver.ts
  src/books/books.service.ts
  src/books/schema/book.schema.ts
  src/version/schema/version.schema.ts
Due: eslint

feat: :sparkles: キーワードとカテゴリで本を検索する
  src/books/argstype/many-books.argstype.ts
  src/books/books.resolver.ts
  src/books/books.service.ts
Due: eslint

feat: :sparkles: IDから本を取得する
  src/books/books.resolver.ts
  src/books/books.service.ts
Due: eslint

build: :whale: 初期データを入れて検証する
  docker/.eslintrc
  docker/docker-compose.deps.base.yml
  docker/docker-compose.deps.local.yml
  docker/docker-compose.deps.prod.yml
  docker/mongo/initdb/1-mongo-init.js
  docker/mongo/initdb/2-mongo-init.sh
  docker/mongo/initdb/books.json
  src/app.module.ts
  src/config/mongoose.config.ts
Due: eslint, prettier, prettier-configs

build: :gear: mockクラスまでビルドする必要は無いので除外
  tsconfig.build.json
Due: prettier

chore: :pencil: サンプルデータを更新
  docker/mongo/initdb/books.json
  src/books/sample/books.sample.ts
Due: eslint, prettier

build: :whale: git submoduleでサンプルデータを管理する
  .eslintignore
  .gitmodules
  .prettierignore
  Makefile
  docker/docker-compose.deps.local.yml
  docker/mongo/initdb/2-mongo-init.sh
Due: prettier

refactor: :fire: 現状に合わせて不要な部分を削除
  src/app.module.ts
  src/books/book.model.mock.ts
  src/books/books.resolver.ts
  src/books/schema/book.schema.ts
Due: eslint

refactor: :recycle: booksの部分改修
  src/books/book.model.mock.ts
  src/books/books.model.mock.ts
  src/books/books.resolver.spec.ts
  src/books/books.resolver.ts
  src/books/books.service.mock.ts
  src/books/books.service.ts
  src/books/sample/books.sample.ts
Due: eslint

feat: :sparkles: 書籍JANコードを解釈する
  src/jan/jan.module.ts
  src/jan/jan.service.spec.ts
  src/jan/jan.service.ts
Due: eslint

feat: :sparkles: 本の価格をJANコードから計算
  src/book-price/book-price.module.ts
  src/book-price/book-price.resolver.spec.ts
  src/book-price/book-price.resolver.ts
  src/book-price/book-price.service.spec.ts
  src/book-price/book-price.service.ts
  src/books/books.module.ts
  src/books/books.resolver.spec.ts
  src/books/books.resolver.ts
  src/jan/jan.module.ts
Due: eslint

refactor: :recycle: 細かな部分を修正
  src/app.module.ts
  src/config/mongoose.config.ts
  src/price/price.service.spec.ts
  src/version/schema/version.schema.ts
  src/version/version.module.ts
  src/version/version.service.spec.ts
  src/version/version.service.ts
  tsconfig.json
Due: eslint, prettier

test: :bug: 落ちるテストを修正
  src/books/books.service.spec.ts
  src/price/price.resolver.spec.ts
Due: eslint

chore: :gear: ステージされている変更に対してだけlefthookが走る
  lefthook.yml
Due: prettier

ci: Dockerfileがビルド可能かチェックする
  .circleci/config.yml
Due: prettier

ci: :bug: Dockerのタグが小文字しか使えないことに関して修正
  .circleci/config.yml
Due: prettier

docs: :page_facing_up: Apache 2.0 License追加
  LICENSE
Due: none

Add license scan report and status
  README.md
Due: prettier

chore: :gear: FOSSAの設定ファイル追加
  .fossa.yml
Due: prettier

ci: :bug: Dockerのビルドが失敗するのを修正
  .circleci/config.yml
Due: prettier

ci: :sparkles: master,developブランチでライセンスをチェックする
  .circleci/config.yml
Due: prettier

ci: :bug: ライセンスチェックが失敗するのを修正
  .circleci/config.yml
Due: prettier

docs: :book: READMEにFOSSAのバッジ追加
  README.md
Due: prettier

chore: :gear: lefthookにRenovateの設定ファイルチェック入れた
  lefthook.yml
Due: prettier

chore: :gear: Renovateのラベルを小文字に
  renovate.json
Due: prettier

docs: CodecovのバッジURLを更新
  README.md
Due: prettier

refactor: :fire: 不要なサンプルデータを削除
  docker/mongo/initdb/books.json
Due: prettier

chore: :gear: .gitmodules更新
  .gitmodules
Due: none

build: :whale: ローカル用のDockerコンテナでVolumeを毎回再生成する
  Makefile
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{css,sass,scss,json,yml,yaml,md,gql,graphql}
  prettier-configs: any of: *.{babel,eslint,prettier,renovate}rc
